{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Testpress</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Test Press</a>
				
			</header>

		

		<!-- Highlights -->
		<div class="home">
			<a class="logo"  class="fadeIn fourth" href="/"><button>Home</button></a>

		</div>
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Choose your Paper</h2>
						
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									
									<h3>Mathematics</h3>
								</header>
								<a class="logo"  class="fadeIn fourth" href="maths"><button>Take test</button></a>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									
									<h3>Physics</h3>
								</header>
								<a class="logo"  class="fadeIn fourth" href="physics"><button>Take test</button></a>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									
									<h3>Chemistry</h3>
								</header>
								<a class="logo"  class="fadeIn fourth" href="chemistry"><button>Take test</button></a>
								
		
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									
									<h3>Professional English</h3>
								</header>
								<input type="submit" class="fadeIn fourth" value="Take Test">
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									
									<h3>Tamil</h3>
								</header>
								<input type="submit" class="fadeIn fourth" value="Take Test">
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									
									<h3>Biology</h3>
								</header>
								<a class="logo"  class="fadeIn fourth" href="biology"><button>Take test</button></a>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			

		

	</body>
</html>